.jumbotron {
    /* background-color: #2a3a65; */
    background-image: url("./images/bac_header.jpg");
    background-size: cover;
    color: white;
    border-radius: 12.5px;
    margin-bottom: 20px;
}

.card {
    margin-bottom: 10px;
}

.card-header {
    background-color: #cacecb;
    border-radius: 12.5px;
    }

.card-body {
    text-transform: uppercase;
    display: block;
    font-size: 0.75em;
    line-height: normal;
    margin-bottom: -20px;
}

a:link {
    color: #2a3a65;
}

.p-extra {
    font-size: 0.75em;
    text-align: center;
}